In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [6]:
print('Hello to machine learning')

Hello to machine learning

In [12]:
imdbDF = pd.read_csv('imdb.csv')

In [13]:
print(imdbDF.shape)

(14761, 7)

In [ ]:
print(imdbDF.head(9))

In [15]:
print(imdbDF.wins)

0        1
1        2
2        3
3        1
4        2
        ..
14756    0
14757    0
14758    0
14759    0
14760    0
Name: wins, Length: 14761, dtype: object

In [16]:
print(imdbDF[['wins', 'nominations']])

      wins nominations
0        1           0
1        2           1
2        3           4
3        1           1
4        2           0
...    ...         ...
14756    0           0
14757    0           0
14758    0           0
14759    0           0
14760    0           0

[14761 rows x 2 columns]

In [17]:
imdbDF[ ['wins', 'nominations']].head()

  wins nominations
0    1           0
1    2           1
2    3           4
3    1           1
4    2           0

In [18]:
myDF = imdbDF[ ['wins', 'nominations']]

In [19]:
myDF.iloc[0]

wins           1
nominations    0
Name: 0, dtype: object

In [20]:
myDF.iloc[[1,3,4]

SyntaxError: unexpected EOF while parsing (<ipython-input-20-3b573a41481c>, line 1)

In [ ]:
myDF.iloc [16:22]

In [ ]:
myDF.iloc [16:22]['wins']

In [ ]:
myDF.iloc [0,1]

In [ ]:
print (imdbDF.describe())

In [ ]:
tempDF = imdbDF[['reviews']]

In [ ]:
tempDF.plot()

In [ ]:
tempDF.plot.hist()

In [ ]:
print('Hej just finished the Lab Exercise 01')