In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [2]:
print('This is a demo of Linear Regression using Least Square Method')

This is a demo of Linear Regression using Least Square Method

In [4]:
read_data = pd.read_csv('salary_data.csv') ## Import the dataset

In [5]:
read_data.head()
print(f"Shape of Data set {read_data.shape}")

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891